.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--Blue-Dark);
    padding: 0 24px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 24px;
    text-align: center;
    background-color: var(--Blue-Gray-Dark);
    border-radius: 10px;
    width: 35%;
    padding: 32px 24px;
    Font-family: "Manrope", sans-serif;
    position: relative;
}

.adviceNumber {
    color: var(--Green);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 800;
}

.adviceQuote {
    width: 100%;
    font-size: 28px;
    color: var(--Light-Cyan);
    font-weight: 800;
}

.adviceQuote p::before {
    content: '\275D';
    padding-right: 6px;
}

.adviceQuote p::after {
    content: '\275E';
    padding-left: 6px;
}

.dividerDesktop {
    padding-bottom: 40px;
    width: 70%;
}

.dice {
    width: 64px;
    background-color: var(--Green);
    padding: 16px;
    border-radius: 50%;
    position: absolute;
    top: 90%;
}

.dice:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 10px #5df9ab70;
    transition: .2s;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    background-color: var(--Green);
    padding: 0 20px;
    border-radius: 50%;
    position: absolute;
    top: 90%;
}

@media screen and (max-width: 900px) {

    
    .wrapper {
        width: 100%;
        padding: 36px 24px;
    }
    
    .dividerMobile {
        padding-bottom: 40px;
        width: 100%;
    }
    
    .dice {
        width: 64px;
        background-color: var(--Green);
        padding: 16px;
        border-radius: 50%;
        position: absolute;
        top: 90%;
    }
}

